.nav-wrapper {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100dvh;
  z-index: 9999;
  pointer-events: none;
  transform: translateZ(0);
}

.nav-container {
  position: fixed;
  left: 50%;
  bottom: calc(env(safe-area-inset-bottom) + 2rem);
  transform: translate(-50%, 0) translateZ(0);
  cursor: grab;
  user-select: none;
  pointer-events: auto;
  will-change: transform;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.25rem);
  -webkit-backdrop-filter: blur(0.25rem);
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.1);
}

.nav-container a {
  font-weight: bold;
  font-size: 0.75rem;
  transition: color 0.3s ease;
}

.nav-handle {
  display: none;
  grid-template-columns: repeat(2, 4px);
  grid-template-rows: repeat(2, 4px);
  gap: 3px;
}

.nav-handle span {
  width: 4px;
  height: 4px;
  background-color: var(--text);
  border-radius: 50%;
  display: block;
  transition: background-color 0.3s ease;
}

@media (min-width: 1024px) {

  .nav-container a:hover {
    color: var(--link);
  }

  .nav-handle {
    display: grid;
  }

}