---
import { products } from "../data/products";
import ProjectCard from "../components/ProjectCard.astro";
---

<style>
  .projects-grid {
    padding: 62px 1rem 6rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    align-items: end;
  }

  @media (min-width: 360px) {
    .projects-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 640px) {
    .projects-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 900px) {
    .projects-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (min-width: 1280px) {
    .projects-grid {
      grid-template-columns: repeat(5, 1fr);
    }
  }  

  @media (min-width: 1500px) {
    .projects-grid {
      grid-template-columns: repeat(6, 1fr);
    }
  }

</style>

<div class="projects-grid">
  {products.map((product) => (
    <ProjectCard
      name={product.name}
      year={product.year}
      images={product.images}
      slug={product.slug}
    />
  ))}
</div>