---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Nav from '../components/Nav';

const {
  title = "Dieter Rams",
  description = "“Less, but better.” — The key principle of Dieter Rams, an advocate for functional, honest, and timeless design.",
} = Astro.props;
---

<!DOCTYPE html>

<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content="kokepizza" />
    <meta name="keywords" content="palabra, palabra, palabra" />

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>

  <body>
    <Header />
    <Nav client:load/>
    <main>
      <slot />
    </main>

    <script src="/scripts/card.js" defer></script>
    <script src="/scripts/cursor.js" defer></script>
    
  </body>
</html>