---
import '../styles/global.css';
import Header from '../components/Header.astro';

const {
  title = "Dieter Rams",
  description = "“Less, but better.” — The key principle of Dieter Rams, an advocate for functional, honest, and timeless design.",
} = Astro.props;
---

<!DOCTYPE html>

<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)" />
    <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content="kokepizza" />
    <meta name="keywords" content="palabra, palabra, palabra" />

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>

  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>