---
import '../styles/global.css'
import Header from '../components/Header.astro'
---

<html lang="es" class="transition-colors duration-300">
  <head>
    <meta charset="UTF-8" />
    <title>Tu Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body class="bg-white text-black dark:bg-black dark:text-white transition-colors duration-300">

    <Header />

    <main>

      <slot />

    </main>
  </body>
</html>